---
layout: default
title: Nightingale Ensemble
---

<div class="nightingale">

  <div class="nightingale-logo">
    <img src="{{ site.baseurl }}/images/ng-logo.png" alt="Nightingale Logo">
  </div>

  <div class="learn-more">
    <ul class="info-links">
      {% include info-links.html %}
    </ul>
  </div>

  <div class="nightingale-info">
    <p>
      <span class="emphasis">Nightingale Ensemble</span> is the brainchild of
      Zoë Wallace and Ryan Wallace, who upon listening to the piece "Four
      Russian Songs" by Igor Stravinsky realized there was a great need for
      interesting instrument pairings that stretch beyond those existing today.
    </p>
    <p>
      The core group is comprised of Val Beck, soprano; LeAnne Bennion, harp;
      Alexandria Hoffman, flute; Ryan Wallace, guitar; and Zoë Wallace, guitar.
      Nightingale Ensemble also partners with composers and other musicians
      outside of the ensemble to develop works for trios, duets, and even for
      soloists to broaden the repertoire for these instruments. It also uses the
      unusual pairing to its advantage in order to perform lesser known works by
      major composers, such as those by Stravinsky, Takemitsu, and many others.
    </p>
    <p>
      Nightingale Ensemble emphasizes finding contemporary composers who will
      bring a unique voice to their compositions through a range of backgrounds
      that are as diverse as our world is today. We welcome hearing from
      composers who have an idea for an exciting new composition that involves
      an instrumental ensemble not often seen on stages!
    </p>
    <p>
      Nightingale Ensemble is always trying to push the pairing of instruments
      to find new musical colors and is currently based out of the Chicago area.
    </p>
  </div>

  <div class="poem">
    <p class="emphasis">​
      And, when night begins to fall <br>
      From the black oaks, darkening, <br>
      In the nightingale’s soft call <br>
      Our despair will, solemn, sing.
    </p>
    <p>
      - from <span class="emphasis">In Muted Tone</span> by Paul Verlaine
    </p>
  </div>

  <div class="learn-more">
    <ul class="info-links">
      {% include info-links.html %}
    </ul>
  </div>
</div>









​

​
