/* GLOBAL STYLES */

body {
  display: flex;
  flex-direction: column;
  font-family: helvetica, arial, sans;
  min-height: 100vh;
}
a {
  color: #fff;
  cursor: default;
  text-decoration: none;
}
p {
  font-size: 1rem;
  line-height: 2em;
  padding-bottom: 3vh;
}
h1 {
  font-family: 'Raleway', helvetica, sans;
  font-size: 3.4rem;
  margin-bottom: 0.2em;
}
h2 {
  font-size: 2rem;
}
ul {
  list-style: none;
}
.emphasis {
  font-style: italic;
}
.content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 7.2vh 0 0;
  width: 100%;
  margin: 0 auto;
}

/* HEADER STYLES */
.header {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-nav {
  padding: 3vh 10px 3vh 0;
  text-align: center;
}
.header-nav > li {
  display: inline-block;
  margin-left: 0;
}
.header li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 0.5em;
}
.header-nav a {
  font-size: 0.8em;
}
.header-nav a:hover,
.header-nav a:active {
  color: #ed6e2f;
}

/* NAV STYLES */

.nav-links a {
  padding: 1vw;
  text-transform: uppercase;
}

/* MOBILE MENU STYLES */

.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

/* SOCIAL LIKS STYLES */

.social-links {
  border-radius: 99px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 3em;
  display: inline-block;
  margin: 0.5vh 1.2vw 1vh;
}

/* FOOTER STYLES */

.footer {
  background-color: #000;
  color: #fff;
  padding-top: 2vh;
  text-align: center;
}
.copyright {
  font-size: 1vh;
  margin-left: 1.2vw;
}

/* HOME STYLES */
.home {
  background-color: #d7d9db;
  padding-top: 0;
  margin-top: -7.2vh;
}
.intro {
  background-size: cover;
  box-sizing: border-box;
  height: 40vh;
}
.home-image {
  background-image: url(/images/ZoeWallace.jpeg);
  background-position: center center;
  margin-top: 6.5vh;
  min-height: 20em;
}

.home-content {
  color: #000;
  padding-top: 3vh;
  margin: 0 auto;
  text-align: center;
  width: 70%
}
.hero-content h1 {
  margin-bottom: 0.2em;
}

/* BIO STYLES #7c8287 */

.bio {
  background-color: #d7d9db;
  border-top: 1px solid #000;
  margin: 0 8.5vw;
  padding: 3vh 1vw 2vh;
}
.bio h1 {
  text-align: center;
}

/* COMPOSITION STYLES */

.compositions {
  background-color: #d7d9db;
  box-sizing: border-box;
  line-height: 1.8em;
  margin-bottom: 0;
  padding-bottom: 0;
}
.ensemble {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
}
.comp-cat {
  font-weight: lighter;
  margin-bottom: 1.8vh;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}
.comp-list {
  display: flex;
  flex-direction: column;
  padding: 2vh 2.5rem 0;
}
.comp {
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
}
.comp:hover {
  background-color: #bfc3c7;
}
.comp-title {
  flex: 1;
  font-size: 1.2rem;
}
.comp-info {
  display: flex;
  font-weight: lighter;
  padding-right: 3rem;
  text-align: right;
}
.ensemble p {
  padding-bottom: 1.2vh;
}
.solo {
  padding-top: 6vh;
  padding-bottom: 6vh;
}

/* NIGHTINGALE STYLES */

.nightingale {
  background-color: #d7d9db;
  box-sizing: border-box;
  padding: 3vh 9vw 5vh;
  margin: -3vh auto;
  height: 100%;
  width: 100%;
}
.nightingale-logo img {
  width: 85%;
}
.nightingale-info {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin-top: 3vh;
  padding: 3vh 1vw 0;
}
.poem {
  border-bottom: 1px solid #000;
  margin-top: 3vh;
  text-align: center;
}
.learn-more {
  margin-top: 3vh;
}


/* INFO LINKS STYLES */
.info-links {
  text-align: center;
}
.info-links > li {
  display: inline-block;
}
.info-links > li a {
  color: #000;
  margin: 0 2vw;
}
.info-links > li a:hover,
.info-links > li a:active {
  color: #ed6e2f;
}
.info-links li ~ li {
  border-left: 1px solid #000;
}
/* MEDIA STYLES */

.media-gallery {
  background-color: #d7d9db;
  padding: 0 1.8rem;
}
.media-row {
  border-top: 1px solid #000;
  height: 315px;
  padding: 2vh 0;
  position: relative;
  width: 100%;
}
.description {
  box-sizing: border-box;
  display: block;
  float: left;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -25%);
  width: 38%;
}
.description-lg {
  box-sizing: border-box;
  display: block;
  font-size: 0.95rem;
  float: left;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -35%);
  width: 38%;
}
.description h2,
.description-lg h2 {
  margin-bottom: 1.5vh;
}
.media {
  float: right;
  min-width: 60%;
}
.perf {
  line-height: 1.5em;
  padding: 1.5vh;
}

/* CONTACT STYLES */

.contact {
  background-color: #d7d9db;
  box-sizing: border-box;
  height: 81vh;
  line-height: 1.5em;
  padding-top: 5em;
  text-align: center;
}
.contact h2 {
  margin-bottom: 1em;
}
.contact-info {
  margin: 1em;
}
.contact-info a {
  color: #000;
  cursor: pointer;
  display: block;
}
.contact-info a:hover {
  color: #ed6e2f
}


/* MEDIA QUERY STYLES */

@media (min-width: 1100px) {
  html{
    background-color: #d7d9db;
  }
  .content-container {
    max-width: 1100px;
    margin: 0 auto;
  }
  .bio {
    margin: 0 6.5vw;
    padding: 3vh 1vw 2vh;
  }
  .nightingale {
    padding: 3vh 6.5vw 5vh;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 5vh;
  }
  p {
    font-size: 0.7rem;
  }

  /* MOBILE MENU */
  .show-mobile-menu {
    color: #fff;
    display: block;
    font-weight: bold;
    margin-top: 1vh;
    padding: 2.5vh 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }
  .header-nav {
    background-color: #444;
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    transition: all 0.5s  ease-in-out;
    width: 100vw;
  }
  .header-nav li ~ li {
    border: 0;
    padding: 0;
  }
  .header-nav li {
    display: block;
    margin-top: 1em;
  }
  .header-nav li:last-child {
    margin-bottom: 1em;
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 1000px;
  }
  /* MOBILE COMP PAGE */
  .comp {
    display: block;
    text-align: center;
  }
  .comp-cat {
    line-height: 2.2rem;
  }
  .comp-info {
    display: block;
    font-size: 0.9rem;
    text-align: center;
    padding: 0;
  }
  .comp-list {
    padding: 0;
  }
  /* MOBILE MEDIA PAGE */
  .media-row {
    border-top: 1px solid #000;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .description {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 3vh;
    position: relative;
    text-align: center;
    top: 30%;
    transform: translate(0, 10%);
    width: 100%;
  }
  .description-lg {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    top: 5%;
    transform: translate(0, 0);
    width: 100%;
  }
  .description h2,
  .description-lg h2 {
    margin-bottom: 1.5vh;
  }
  .media {
    display: flex;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  .media iframe {
  position: absolute;
  height: 100%;
 }
}
