/* GLOBAL STYLES */

body {
  display: flex;
  flex-direction: column;
  font-family: helvetica, arial, sans;
  min-height: 100vh;
}
a {
  color: #fff;
  cursor: default;
  text-decoration: none;
}
p {
  font-size: 1rem;
  line-height: 2em;
  padding-bottom: 3vh;
}
h1 {
  font-family: 'Raleway', helvetica, sans;
  font-size: 4.5rem;
  margin-bottom: 0.2em;
}
h2 {
  font-size: 2rem;
}
ul {
  list-style: none;
}
.emphasis {
  font-style: italic;
}
.content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 7.2vh 0 0 0;
  width: 100%;
  margin: 0;
}

@media (min-width: 1100px) {
  html{
    background-color: #d7d9db;
  }
  .content-container {
    max-width: 1100px;
    margin: 0 auto;
  }
}

/* HEADER STYLES */
.header {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-nav {
  padding: 3vh 10px 3vh 0;
  text-align: center;
}
.header-nav > li {
  display: inline-block;
  margin-left: 0;
}
.header li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 0.5em;
}
.header-nav a {
  font-size: 1.2vh;
}
.header-nav a:hover,
.header-nav a:active {
  color: #ed6e2f;
}

/* NAV STYLES */
.nav-links a {
  padding: 1vw;
  text-transform: uppercase;
}

/* SOCIAL LIKS STYLES */

.social-links {
  border-radius: 99px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 3em;
  display: inline-block;
  margin: 0.5vh 1.2vw 1vh;
}

/* FOOTER STYLES */

.footer {
  background-color: #000;
  color: #fff;
  padding: 2vh 0;
  text-align: center;
}
.footer-nav li {
  margin-bottom: 0.5vh;
}
.footer-nav a:hover,
.footer-nav a:active {
  color: #ed6e2f;
}
.copyright {
  font-size: 1vh;
  margin-left: 1.2vw;
}

/* HOME STYLES */
.home {
  background-color: #d7d9db;
  padding-top: 0;
  margin-top: -7.2vh;
}
.intro {
  background-size: cover;
  box-sizing: border-box;
  height: 40vh;
}
/*
.full-hero:after {
  bottom: 2vh;
  color: #fff;
  content: "﹀";
  font-size: 48px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}
*/
.home-image {
  background-image: url(/zoeawallace/images/ZoeWallace.jpeg);
  background-position: center top;
}
.home-content {
  border-bottom: 1px solid #000;
  color: #000;
  padding-top: 3vh;
  margin: 0 8.5rem;
  text-align: center;
  width: 70%
}
.hero-content h1 {
  margin-bottom: 0.2em;
}

/* BIO STYLES #7c8287 */

.bio {
  background-color: #d7d9db;
  padding: 3vh 8.5rem 2vh;
}
.bio h1 {
  font-size: 3vh;
  text-align: center;
  margin: 2vh 0;
}

/* COMPOSITION STYLES */

.compositions {
  box-sizing: border-box;
}
.compositions > div {
  border: 1px solid #000;
}
.ensemble {
  background-image: url(/zoeawallace/images/ensemble-split.jpeg);
  background-size: cover;
  background-position: center;
  color: #000;
  position: relative;
  padding: 2vh 1.7rem;
}
.ensemble p {
  padding-bottom: 1.2vh;
}

/*
.ensemble::before {
  content: "";
  background-image: url(/zoeawallace/images/ensemble-split.jpeg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
*/

.solo {
  background-image: url(/zoeawallace/images/solo-split.jpeg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  color: #000;
  padding: 2vh 1.7rem;
  position: relative;
}
 /*
.solo::after {
  content: "";
  background-image: url(/zoeawallace/images/solo-split.jpeg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
*/
/*
.upcoming {
  padding: 2vh 2vh;
  position: relative;
}
.upcoming::after {
  content: "";
  background-image: url(/zoeawallace/images/chicago.jpeg);
  background-size: cover;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
*/
.works-list {
  padding: 2vh 0 0 1.7rem;
}

/* NIGHTINGALE STYLES */

.nightingale {
  background-color: #d7d9db;
  box-sizing: border-box;
  padding: 4rem 8.5rem;
  margin-bottom: -2vh;
  height: 100%;
  width: 100%;
}
.nightingale-logo img {
  width: 95%;
}
.nightingale-info {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin-top: 3vh;
  padding: 3vh 0 0 0;
}
.poem {
  border-bottom: 1px solid #000;
  margin-top: 3vh;
  text-align: center;
}
.learn-more {
  margin-top: 3vh;
}


/* INFO LINKS STYLES */
.info-links {
  text-align: center;
}
.info-links > li {
  display: inline-block;
}
.info-links > li a {
  color: #000;
  margin: 0 2vw;
}
.info-links > li a:hover,
.info-links > li a:active {
  color: #ed6e2f;
}
.info-links li ~ li {
  border-left: 1px solid #000;
}
/* MEDIA STYLES */

.media-gallery {
  background-color: #d7d9db;
  padding: 0 1.8rem;
}
.media-row {
  border-top: 1px solid #000;
  height: 315px;
  padding: 2vh 0;
  width: 100%;
}
.description{
  box-sizing: border-box;
  display: block;
  float: left;
  height: 100%;
  padding-top: 5vh;
  text-align: center;
  width: 38%;
}
.description h2 {
  margin-bottom: 1.5vh;
}
.media {
  float: right;
  min-width: 60%;
}
.perf {
  line-height: 1.5em;
  padding: 1.5vh;
}
