<head>
  <meta charset="utf-8">
  {% if page.title %}
    <title>{{ page.title }} | Zoë Wallace</title>
  {% else %}
    <title>Zoe Wallace</title>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap">
  <link rel="stylesheet" href="{{site.baseurl}}/fonts/fontawesome-free-5.15.1-web/css/all.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/reset.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
</head>
