<div class="media-row">
  <div class="description">
    <h2>{{ include.name }}</h2>
    <div class="instr">
        <span class="emphasis">{{ include.instrumentation }}</span>
    </div>
    <div class="perf">
      {{ include.performers }}
    </div>
  </div>

  <div class="media">
    <iframe width="100%" height="315"
    src={{ include.src }}
    frameborder="0" allow="accelerometer; autoplay; clipboard-write;
    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>
