---
layout: default
title: Media
---

<div class="media-gallery">


  {% include video.html name="Phantasmagoria"
                        instrumentation="Violin, Cello, Flute, Clarinet, Piano, and Electronics"
                        performers="performed by Pink Noise Ensemble"
                        src="https://www.youtube.com/embed/K-ogL8U345k" %}  

  {% include video.html name="Phantasmagoria"
                        instrumentation="Violin, Cello, Flute, Clarinet, Piano, and Electronics"
                        performers="performed by Pink Noise Ensemble"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1499654947&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true" %}

  {% include video.html name="Medusa"
                        instrumentation="Voice and Piano"
                        performers="performed by Valerie Beck & Miles Andrew Sutton"
                        src="https://www.youtube.com/embed/J4_JuG1_MwA" %}

  {% include video.html name="String Quartet 3: Here"
                        instrumentation="String Quartet"
                        performers="performed by KAIA String Quartet"
                        src="https://www.youtube.com/embed/KewkSoDTASw" %}

  {% include video.html name="String Quartet 1: L'Appel du Vide"
                        instrumentation="String Quartet"
                        performers="performed by KAIA String Quartet"
                        src="https://www.youtube.com/embed/k-tqZ4FDgRw" %}

  {% include video.html name="The Second Coming"
                        instrumentation="Harp, 2 Guitars, Flute, Soprano"
                        performers="performed by and dedicated to <br>
                                    The Nightingale Ensemble"
                        src="https://www.youtube.com/embed/JaFEvn5nR-E" %}


  {% include video.html name="Four Songs on War"
                        instrumentation="Voice and Guitar"
                        performers="performed by <br>
                                    Erin O'Meally, soprano <br>
                                    Zoë Wallace, guitar"
                        src="https://www.youtube.com/embed/NET5pzwY72k" %}


  {% include video.html name="Vertex"
                        instrumentation="Solo Guitar"
                        performers="performed by <br>
                                    Ryan Wallace"
                        src="https://www.youtube.com/embed/W5XWh28HW5s" %}

  {% include video.html name="Erebus"
                        instrumentation="String Quartet"
                        performers="performed by <br>
                                    Zoë Wallace, guitar,
                                    <br> Nicholas Denton-Protsack, cello"
                        src="https://www.youtube.com/embed/Q1uzg7NN6ss" %}

  {% include video.html name="For Carl Somolon"
                        instrumentation="Concerto for Guitar and Small Orchestra"
                        performers="performed by Zoë Wallace, guitarist; Collin Whitfield, conductor;
                                    Madeline Hocking, violin 1; Sarah Bleile, violin 2; Wenfei Zhu, viola;
                                    Nicholas Denton-Protsack, cello; Yuchen Liu, double bass; Jessie Nucho,
                                    flute; Ashley Ertz, oboe; Lotte Leussink, clarinet; Kristen Flock,
                                    bassoon"
                        src="https://www.youtube.com/embed/7R4OZSUG8iw" %}


  {% include video.html name="Vinegar and Thorns"
                        instrumentation="Electric Guitar and Electronics"
                        performers="performed by <br>
                                    Zoë Wallace"
                                    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1337743135&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true" %}

</div>
