---
layout: default
title: Compositions
photo_credit: Photos courtesy of Zoë Wallace
---
<div class="compositions">

  <div class="ensemble">
    <div class="comp-cat">
      <h2>Ensemble and Duet Works</h2>
    </div>
    <div class="comp-list">
      {% include composition.html name="A Jelly-Fish (2023)"
                 instrumentation="- for Soprano and Double Bass" %}

      {% include composition.html name="Sunflower/Light (2023)"
                 instrumentation="- for Voice and Viola" %}

      {% include composition.html name="Phantasmagoria (2023)"
                 instrumentation="- for Violin, Cello, Flute, Clarinet, Piano, and Electronics" %}

      {% include composition.html name="Down the Rabbit Hole (2022)"
                 instrumentation="- for at least 4 instruments" %}

      {% include composition.html name="Medusa (2022)"
                 instrumentation="- for Voice and Piano" %}

      {% include composition.html name="String Quartet no. 3: Here (2021)"
                 instrumentation="- for two violins, viola, and cello" %}

      {% include composition.html name="String Quartet no. 2 (2021)"
                 instrumentation="- for two violins, viola, and cello" %}

      {% include composition.html name="Vinegar and Thorns (2020)"
                 instrumentation="- for electric guitar and electronics" %}

      {% include composition.html name="String Quartet no. 1: L'Appel Du Vide (2020)"
                 instrumentation="- for two violins, viola, and cello" %}

      {% include composition.html name="The Second Coming (2019)"
                 instrumentation="- for flute, two guitars, harp, and mezzo-soprano" %}

      {% include composition.html name="Skyscraper Soup (2018)"
                 instrumentation="- for guitar and flute" %}

      {% include composition.html name="For Carl Solomon: a guitar concerto (2016)"
                 instrumentation="- for guitar, two violins, viola, cello, bass, <br>
                 &nbsp flute, oboe, clarinet, and bassoon" %}

      {% include composition.html name="Four Songs on War (2016)"
                 instrumentation="- for soprano and guitar" %}

      {% include composition.html name="Erebus (2016)"
                 instrumentation="- for electronics, cello, and electric guitar" %}
    </div>
  </div>

  <div class="solo">
    <div class="comp-cat">
      <h2>Solo Works</h2>
    </div>
    <div class="comp-list">
      {% include composition.html name="Lunette (2023)"
                 instrumentation="- for solo Guitar" %}
      
      {% include composition.html name="Ripple and Stillwater (2022)"
                 instrumentation="- for solo Harp" %}

      {% include composition.html name="Waits. Dreaming. (2016)"
                 instrumentation="- for solo piano" %}

      {% include composition.html name="Vertex (2012)"
                 instrumentation="- for solo guitar" %}

      {% include composition.html name="Greek Tales (2012)"
                 instrumentation="- for solo guitar" %}
    </div>
  </div>
</div>
